/*
Theme Name: Divi-child
Theme URI: https://wakeupdreamer.com.au
Version: 1.1
Description: A child theme template for Divi
Author: Wake Up, Dreamer
Author URI: https://wakeupdreamer.com.au
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: Divi
*/


/*
|--------------------------------------------------------------------------
| Custom Styles (Not Recommended)
|--------------------------------------------------------------------------
|
| It is recommended to add styles to assets/styles/app.scss and then run
| "npm run dev" or "npm run production" from your terminal,(assuming you
| have run npm install from the Divi-child folder). 
| 
| Adding styles below is more of a 'hack', but it does work if necessary.
|
*/

/*@import url("//hello.myfonts.net/count/3c145f");*/

@font-face {
  font-family:'CentSchbookBTWGL4WXX-Roman';
  src:url('fonts/CentSchbookBTWGL4WXX-Roman/font.woff2') format('woff2'), url('fonts/CentSchbookBTWGL4WXX-Roman/font.woff') format('woff');
}  
@font-face {
  font-family:'CentSchbookBTWGL4WXX-Bold';
  src:url('fonts/CentSchbookBTWGL4WXX-Bold/font.woff2') format('woff2'), url('fonts/CentSchbookBTWGL4WXX-Bold/font.woff') format('woff');
}
@font-face {
  font-family:'CentSchbookBTWGL4WXX-BoldIt';
  src:url('fonts/CentSchbookBTWGL4WXX-BoldIt/font.woff2') format('woff2'), url('fonts/CentSchbookBTWGL4WXX-BoldIt/font.woff') format('woff');
}
@font-face {
	font-family:'Conv_Get Show';
	src: url('fonts/Get Show.eot');
	src: local('☺'), url('fonts/Get Show.woff') format('woff'), url('fonts/Get Show.ttf') format('truetype'), url('fonts/Get Show.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font-family:'CentSchbookBTWGL4WXX-Roman'; font-size:18px; color:#313133; font-weight:400; line-height:1.2; padding:0px 0px; margin:0px 0px; cursor:default; }

body.et_cover_background { background:url('images/header-left-side-bg.svg'), url('images/header-right-side-bg.svg'); background-repeat:no-repeat, no-repeat !important; background-size:500px auto, 1000px auto !important; background-position:top -70px right calc(50% + 920px), top -265px left calc(50% + 480px) !important; }

* { box-sizing:border-box; -webkit-box-sizing:border-box; }
a { color:#FF9012; text-decoration:none; display:inline-block; vertical-align:top; }
a, input, button { outline:none !important; transition:all 0.3s ease 0s !important; -webkit-transition:all 0.3s ease 0s !important; }
a:hover { opacity:1 !important; }
img { width:auto; max-width:100%; height:auto; max-height:100%; }

.regular { font-family:'CentSchbookBTWGL4WXX-Roman'; font-weight:400; }
.bold { font-family:'CentSchbookBTWGL4WXX-Bold'; font-weight:400; }

.relative { position:relative; }
.transition { transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }

.text-black { color:#313133; }
.text-orange { color:#F37021; }
.text-blue { color:#00A1ED; }
.text-grey { color:#7B7B7E; }

body ::-moz-selection { background:#F37021; color:#fff; }
body ::selection { background:#F37021; color:#fff; }

h1 { font-size:85px; font-family:'Conv_Get Show'; line-height:0.7 !important; }
h2 { font-size:75px; font-family:'Conv_Get Show'; line-height:0.7 !important; }
h3 { font-size:36px; font-family:'CentSchbookBTWGL4WXX-Bold'; }
h4 { font-size:40px; }
h5 { font-size:22px; font-family:'CentSchbookBTWGL4WXX-Bold'; }
h6 { font-size:18px; font-family:'CentSchbookBTWGL4WXX-Bold'; line-height:1.3; }

h1, h2, h3, h4, h5, h6 { color:#313133; font-weight:400; padding:0px 0px; margin-top:0px; margin-bottom:15px; line-height:1.2; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }

.button { font-family:'Conv_Get Show'; background:none !important; font-size:75px; color:#313133; font-weight:400; text-align:left; line-height:normal !important; padding:0px 90px 0px 0px !important; margin:0px 0px; border:none !important; width:auto; height:auto; position:relative; border-radius:0px; }
.button:after { content:""; background:url('images/icon-button.png'); background-repeat:no-repeat !important; background-position:center center !important; background-size:100% auto !important; width:40px; height:40px; opacity:1; position:absolute; top:50%; right:0px; padding:0px 0px; margin:0px 0px; transform:translateY(-50%); -webkit-transform:translateY(-50%); transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.button:hover:after { background:url('images/icon-button-hover.png'); transform:translateY(-50%) rotate(180deg); -webkit-transform:translateY(-50%) rotate(180deg); }

p { padding:0px 0px; margin:0px 0px 15px 0px; }
p:last-child { margin-bottom:0px; }
p:empty { display:none; }

.link { color:#FF9012; text-decoration:underline; }
.link:hover { color:#FF9012; text-decoration:none; }

ul { list-style:none !important; padding:0px 0px !important; margin:0px 0px; line-height:inherit !important; }
ul li {}

::-moz-placeholder { color:#313133; }
::-webkit-input-placeholder { color:#313133; }
:-ms-input-placeholder { color:#313133; }
::-ms-input-placeholder { color:#313133; }

section {}
.et_pb_section { background:none; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; flex-direction:column; }
.et_pb_row { display:flex; flex-wrap:wrap; margin-top:0px; margin-left:-15px; margin-right:-15px; margin-bottom:-30px; width:calc(100% - 30px); width:-webkit-calc(100% - 30px); max-width:1290px; }
.et_pb_row:before,
.et_pb_row:after { display:none; }
.et_pb_row > .et_pb_column { padding:0px 15px; margin:0px 0px 30px 0px !important; }
.et_pb_row > .et_pb_column.et_pb_column_empty { margin-bottom:0px !important; }

.et_pb_text .et_pb_text_inner > *:last-child { margin-bottom:0px; }
.et_pb_blurb .et_pb_blurb_content { max-width:100%; }

.et-l--header { border-bottom:1px solid rgba(255,255,255,0.1); width:100%; position:absolute; top:0px; left:0px; z-index:9; }
.et-l--header .et_builder_inner_content {}
.et-l--header .et_pb_section {}

.et-l--header .header-section {}
.et-l--header .header-section .et_pb_row { justify-content:space-between; align-items:center; }
.et-l--header .header-section .et_pb_column { width:auto !important; }
.et-l--header .header-section .left-wrapper {}
.et-l--header .header-section .left-wrapper img { width:265px; }

.et-l--header .header-section .right-wrapper { display:flex; flex-wrap:wrap; }
.et-l--header .header-section .right-wrapper .et_pb_module { margin:0px 0px 0px 30px; }
.et-l--header .header-section .right-wrapper .et_pb_module:first-child { margin-left:0px; }
.et-l--header .header-section .right-wrapper .appointment-wrapper { font-size:14px; letter-spacing:0.15px; font-family:'CentSchbookBTWGL4WXX-Bold'; }
.et-l--header .header-section .right-wrapper .appointment-wrapper label { color:#fff; display:inline-block; vertical-align:top; padding-bottom:3px; margin-bottom:2px; border-bottom:1px solid #fff; width:100%; }
.et-l--header .header-section .right-wrapper .appointment-wrapper a { color:#fff; display:table; margin-left:auto; }

.et-l--header .header-section .right-wrapper .et_pb_toggle { background:none; padding:0px 0px; border:none; height:35px; animation:none; cursor:pointer; }
.et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title { background:#fff; padding:0px 0px; width:20px; height:3px; position:relative; top:15px; pointer-events:none; border-radius:4px; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
.et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:before,
.et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { content:""; background:#fff; margin:0px 0px; width:100%; height:3px; position:absolute; left:0px; border-radius:4px; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
.et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:before { top:-8px; }
.et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { top:8px; }

.et-l--header .header-section .right-wrapper .et_pb_toggle:hover .et_pb_toggle_title:before,
.et-l--header .header-section .right-wrapper .et_pb_toggle:hover .et_pb_toggle_title:after { width:60%; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
.et-l--header .header-section .right-wrapper .et_pb_toggle:hover .et_pb_toggle_title:before { top:-4px; transform:rotate(-45deg); }
.et-l--header .header-section .right-wrapper .et_pb_toggle:hover .et_pb_toggle_title:after { top:4px; transform:rotate(45deg); }

body.menu-open .et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:before,
body.menu-open .et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { width:60%; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
body.menu-open .et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:before { top:-4px; transform:rotate(-45deg); }
body.menu-open .et-l--header .header-section .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { top:4px; transform:rotate(45deg); }

body.menu-open .et-l--header .header-menu-section { visibility:visible; opacity:1; }

.et-l--header .header-menu-section { background-repeat:no-repeat !important; background-position:center top -34vw !important; background-size:150vw auto !important; font-family:'CentSchbookBTWGL4WXX-Bold'; font-weight:400 !important; font-size:18px; color:#fff; font-weight:600; justify-content:space-between; width:100%; height:100vh; opacity:0; visibility:hidden; overflow-y:auto; position:fixed; top:0px; left:0px; z-index:9; transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.et-l--header .header-menu-section .et_pb_row { margin-top:0px; }

.et-l--header .header-menu-section .top-row { justify-content:space-between; align-items:flex-start; }
.et-l--header .header-menu-section .top-row .et_pb_column { width:auto !important; max-width:100%; }
.et-l--header .header-menu-section .top-row .left-wrapper { flex:1; width:100%; max-width:455px; }
.et-l--header .header-menu-section .top-row .left-wrapper img { filter:brightness(0) invert(1); }

.et-l--header .header-menu-section .top-row .right-wrapper {}
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle { background:none; padding:0px 0px; margin:0px 0px; border:none; cursor:pointer; }
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle:after { content:""; background:#fff; display:table; margin-top:1px; width:100%; height:3px; border-radius:4px; }
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle .et_pb_toggle_title { color:#fff; padding:0px 0px; margin:0px 0px; width:20px; height:20px; position:relative; pointer-events:none; }
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle .et_pb_toggle_title:before, 
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { content:""; background:#fff; font-size:inherit; line-height:1; padding:0px 0px; margin:0px 0px; width:3px; height:20px; position:absolute; top:50%; left:50%; border-radius:4px; }
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle .et_pb_toggle_title:before { transform:translate(-50%, -50%) rotate(45deg); }
.et-l--header .header-menu-section .top-row .right-wrapper .et_pb_toggle .et_pb_toggle_title:after { transform:translate(-50%, -50%) rotate(-45deg); }

.et-l--header .header-menu-section .middle-row { flex-wrap:nowrap; justify-content:space-between; }
.et-l--header .header-menu-section .middle-row .et_pb_column { width:auto !important; max-width:100%; }
.et-l--header .header-menu-section .middle-row .left-wrapper { padding-right:50px; width:100% !important; max-width:600px; }
.et-l--header .header-menu-section .middle-row .right-wrapper { max-width:400px; }

.et-l--header .header-menu-section .middle-row .et_pb_button_module_wrapper { margin-bottom:50px; }
.et-l--header .header-menu-section .middle-row .et_pb_button_module_wrapper:last-child { margin-bottom:0px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button { font-family:'Conv_Get Show'; background:none; font-size:70px; color:#fff; font-weight:400; line-height:normal !important; padding:0px 60px 0px 0px; margin:0px 0px; border:none; width:100%; height:auto; position:relative; border-radius:0px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button:after { content:""; background:url('images/icon-button.png'); background-repeat:no-repeat !important; background-position:center center !important; background-size:100% auto !important; width:40px; height:40px; opacity:1; position:absolute; top:50%; right:0px; padding:0px 0px; margin:0px 0px; filter:brightness(0) invert(1); transform:translateY(-50%); -webkit-transform:translateY(-50%); transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.et-l--header .header-menu-section .middle-row a.et_pb_button:hover:after { background:url('images/icon-button-hover.png'); }

.et-l--header .header-menu-section .middle-row .et_pb_menu { background:none; }
.et-l--header .header-menu-section .middle-row .et_pb_menu__wrap {}
.et-l--header .header-menu-section .middle-row .et_pb_menu__menu { display:block; }
.et-l--header .header-menu-section .middle-row .et_mobile_nav_menu { display:none; }
.et-l--header .header-menu-section .middle-row ul.nav { margin:0px 0px; }
.et-l--header .header-menu-section .middle-row ul.nav > li { padding:0px 0px; margin:0px 0px 15px 0px; width:100%; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a { font-size:28px; color:#fff; font-style:normal; letter-spacing:0px; text-decoration:none; line-height:normal; padding:5px 30px 5px 0px; width:100%; position:relative; transform:skewX(0deg); -webkit-transform:skewX(0deg); transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:before,
.et-l--header .header-menu-section .middle-row ul.nav > li > a:after { content:""; background:#fff; transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:before { width:10px; height:10px; position:absolute; top:50%; right:0px; z-index:1; border-radius:50%; transform:translateY(-50%) skewX(0deg); -webkit-transform:translateY(-50%) skewX(0deg); }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:after { width:100%; height:1px; position:absolute; right:0px; bottom:0px; transform:skewX(0deg); -webkit-transform:skewX(0deg); }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:hover { transform:skewX(-15deg); -webkit-transform:skewX(-15deg); }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:hover:before { width:20px; height:20px; transform:translateY(-50%) skewX(15deg); -webkit-transform:translateY(-50%) skewX(15deg); }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:hover:after { width:0%; transform:skewX(15deg); -webkit-transform:skewX(15deg); }

.et-l--header .header-menu-section .bottom-row { flex-wrap:nowrap; justify-content:space-between; border-top:1px solid #fff; width:calc(100% - 60px); width:-webkit-calc(100% - 60px); max-width:1260px; }
.et-l--header .header-menu-section .bottom-row .et_pb_column { width:auto !important; max-width:100%; }
.et-l--header .header-menu-section .bottom-row .et_pb_column:first-child { margin-left:-15px !important; }
.et-l--header .header-menu-section .bottom-row .et_pb_column:last-child { margin-right:-15px !important; }
.et-l--header .header-menu-section .bottom-row .left-wrapper {}
.et-l--header .header-menu-section .bottom-row .middle-wrapper {}
.et-l--header .header-menu-section .bottom-row .right-wrapper { font-size:12px; font-style:italic; letter-spacing:0.25px; max-width:350px !important; }

.et-l--header .header-menu-section .bottom-row .call-wrapper { margin-bottom:20px; }
.et-l--header .header-menu-section .bottom-row .call-wrapper a { font-size:24px; color:#fff; letter-spacing:0.5px; }

.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow { margin-bottom:-12px !important; }
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li { margin:0px 12px 12px 0px; }
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a { background:rgba(255,255,255,1) !important; font-size:14px; color:#00A1ED; font-weight:400; line-height:1; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; padding:0px 0px; margin:0px 0px; width:26px; height:26px; border-radius:0px; }
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a:before { font-size:inherit; color:inherit; line-height:1; width:auto; height:auto; }
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a:hover { background:rgba(255,255,255,0.8) !important; color:#00A1ED; }

.et-l--header .header-menu-section .bottom-row .time-wrapper {}
.et-l--header .header-menu-section .bottom-row .time-wrapper ul {}
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li { display:flex; flex-wrap:wrap; }
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li span { display:inline-block; vertical-align:top; }
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li span:first-child { padding-right:30px; min-width:190px; }
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li span:last-child {}

.et-l--footer { font-size:16px; font-family:'CentSchbookBTWGL4WXX-Bold'; }
.et-l--footer .et_builder_inner_content {}

.et-l--footer .et_pb_section {}
.et-l--footer .et_pb_section .row-divider {}
.et-l--footer .et_pb_section .row-divider .et_pb_column { margin-bottom:0px !important; width:100% !important; max-width:100%; }
.et-l--footer .et_pb_section .et_pb_row { justify-content:space-between; }
.et-l--footer .et_pb_section .et_pb_column { width:auto; max-width:33.33%; }
.et-l--footer .et_pb_section .et_pb_column .et_pb_module { margin-bottom:0px; }

.et-l--footer .et_pb_section .left-wrapper { display:flex; flex-wrap:wrap; justify-content:space-between; width:380px; }
.et-l--footer .et_pb_section .left-wrapper .et_pb_module {}

.et-l--footer .et_pb_section .middle-wrapper { max-width:100%; }
.et-l--footer .et_pb_section .right-wrapper { font-size:12px; font-style:italic; letter-spacing:0.25px; max-width:300px !important; }

.et-l--footer ul.et_pb_social_media_follow { max-width:120px; }
.et-l--footer ul.et_pb_social_media_follow li { margin:0px 12px 12px 0px; }
.et-l--footer ul.et_pb_social_media_follow li a { /*background:#313133 !important;*/ background:url('images/button-black-bg.png') !important; background-repeat:no-repeat !important; background-position:center center !important; background-size:100% auto !important; font-size:14px; color:#fff; font-weight:400; line-height:1; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; padding:0px 0px; margin:0px 0px; width:26px; height:26px; border-radius:0px; transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; transform:rotate(0deg); -webkit-transform:rotate(0deg); }
.et-l--footer ul.et_pb_social_media_follow li a:before { font-size:inherit; color:inherit !important; line-height:1; width:auto; height:auto; transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; /*transform:rotate(0deg); -webkit-transform:rotate(0deg);*/ }
.et-l--footer ul.et_pb_social_media_follow li a:hover { /*background:#F37021 !important;*/ background:url('images/button-black-bg-border.png') !important; background-repeat:no-repeat !important; background-position:center center !important; background-size:100% auto !important; color:#313133; transform:rotate(360deg); -webkit-transform:rotate(360deg); }
.et-l--footer ul.et_pb_social_media_follow li a:hover:before { /*transform:rotate(-180deg); -webkit-transform:rotate(-180deg);*/ }

ul.et_pb_social_media_follow li.et-social-flikr a:before { content:"\e0a7"; }

.et-l--footer .address-wrapper {}

.et-l--footer .time-wrapper {}
.et-l--footer .time-wrapper ul {}
.et-l--footer .time-wrapper ul li { display:flex; flex-wrap:wrap; }
.et-l--footer .time-wrapper ul li span { display:inline-block; vertical-align:top; }
.et-l--footer .time-wrapper ul li span:first-child { padding-right:30px; min-width:175px; }
.et-l--footer .time-wrapper ul li span:last-child {}

.img-text-wrapper {}
.img-text-wrapper .et_pb_blurb_content { position:relative; }
.img-text-wrapper .et_pb_blurb_content .et_pb_main_blurb_image { margin-bottom:0px; }
.img-text-wrapper .et_pb_blurb_content .et_pb_main_blurb_image img { vertical-align:top; opacity:1; animation:none; -webkit-animation:none; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { background:url('images/bg-circle-orange.svg'); background-repeat:no-repeat; background-position:center center; background-size:100% auto; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; width:325px; height:325px; position:absolute; right:30px; bottom:30px; z-index:1; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header { color:#fff; text-align:center; margin-bottom:0px; position:relative; transform:rotate(-10deg); -webkit-transform:rotate(-10deg); }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header span { display:inline-block; vertical-align:top; }

.hero-section {}

.img-section {}

.join-team-section {}

.welcome-home-section {}

.comprehensive-section {}

.manage-illness-section {}

.about-us-section {}

.wellness-health-section {}

.our-practice-section {}

.make-appointment-section {}

.contact-info-section { font-family:'CentSchbookBTWGL4WXX-Bold'; font-weight:400; }
.contact-info-section .et_pb_row {}
.contact-info-section .et_pb_row .et_pb_column { flex:1; } 
.contact-info-section .et_pb_row .et_pb_column .et_pb_module { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; width:100%; height:100%; }
.contact-info-section .et_pb_row .et_pb_column .et_pb_module .et_pb_text_inner { padding:15px 15px; }
.contact-info-section .time-wrapper {}
.contact-info-section .address-wrapper {}
.contact-info-section .address-wrapper ul { margin-bottom:20px; }
.contact-info-section .address-wrapper ul li {}
.contact-info-section .address-wrapper ul li label { font-style:italic; }
.contact-info-section .address-wrapper a { color:#fff; }
.contact-info-section .address-wrapper small { font-size:10px; font-style:italic; letter-spacing:0.25px; line-height:1.5; display:inline-block; vertical-align:top; width:100%; }
.contact-info-section .map-wrapper {}

.getin-touch-section {}
.getin-touch-section .img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { width:220px; height:220px; }

.getin-touch-section .img-form-row {}
.getin-touch-section .img-form-row .et_pb_column { width:50%; }
.getin-touch-section .img-form-row .left-column {}
.getin-touch-section .img-form-row .left-column .et_pb_blurb,
.getin-touch-section .img-form-row .left-column .et_pb_blurb_content,
.getin-touch-section .img-form-row .left-column .et_pb_main_blurb_image,
.getin-touch-section .img-form-row .left-column .et_pb_image_wrap,
.getin-touch-section .img-form-row .left-column .et_pb_image_wrap { width:100%; height:100%; }
.getin-touch-section .img-form-row .left-column .et_pb_image_wrap img { vertical-align:middle; width:100%; height:100%; object-fit:cover; }

.et_pb_contact { width:100%; }
.et_pb_contact form { margin:0px 0px; }
.et_pb_contact form .et_pb_contact_field { padding:0px 0px; margin:0px 0px 50px 0px; width:100%; float:none; clear:none; }
.et_pb_contact form .et_pb_contact_field .input { background:none; font-family:'CentSchbookBTWGL4WXX-Bold'; font-size:14px; color:#313133; font-weight:400; letter-spacing:0.45px; line-height: 1.3; padding:10px 0px; border:none !important; border-bottom:1px solid #707070 !important; resize:none; width:100%; }
.et_pb_contact form .et_pb_contact_field textarea.input { height:100px; min-height:inherit; }
.et_pb_contact form .et_pb_contact_field .input.et_contact_error { border-color:#f00 !important; } 

.et_pb_contact form .et_contact_bottom_container { margin:0px 0px; float:none; }
.et_pb_contact form .et_contact_bottom_container button { font-family:'Conv_Get Show'; background:none !important; font-size:48px; color:#313133; font-weight:400; text-align:left; line-height:normal !important; padding:0px 80px 0px 0px !important; margin:0px 0px; border:none !important; width:auto; height:auto; position:relative; border-radius:0px; }
.et_pb_contact form .et_contact_bottom_container button:after { content:""; background:url('images/icon-button.png'); background-repeat:no-repeat !important; background-position:center center !important; background-size:100% auto !important; width:40px; height:40px; opacity:1; position:absolute; top:50%; right:0px; padding:0px 0px; margin:0px 0px; transform:translateY(-50%); -webkit-transform:translateY(-50%); transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.et_pb_contact form .et_contact_bottom_container button:hover:after { background:url('images/icon-button-hover.png'); transform:translateY(-50%) rotate(180deg); -webkit-transform:translateY(-50%) rotate(180deg); }

.et_pb_contact_form_container { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; width:100%; height:100%; }
.et_pb_contact_form_container:after { display:none; }
.et_pb_contact_form_container .et-pb-contact-message { display:none; margin-bottom:30px; }

.et_pb_contact_form_container[style="opacity: 1;"] {}
.et_pb_contact_form_container[style="opacity: 1;"] .et-pb-contact-message { display:block; }
.et_pb_contact_form_container[style="opacity: 1;"] .et-pb-contact-message p { color:#008000; }

.what-do-section {}

.our-services-section {}

.service-tabs { display:flex; flex-wrap:wrap; margin:0px -15px !important; border:none; }
.service-tabs ul.et_pb_tabs_controls { background:none !important; padding:0px 15px !important; width:50%; }
.service-tabs ul.et_pb_tabs_controls:after { display:none; }
.service-tabs ul.et_pb_tabs_controls li { background:none; text-align:center; display:table; margin:0 auto; border:none; width:auto; height:auto !important; float:none; }
.service-tabs ul.et_pb_tabs_controls li a { font-family:'CentSchbookBTWGL4WXX-Bold'; font-weight:400; font-style:normal; text-decoration:none; line-height:1.7; display:table; padding:0px 0px; margin:0 auto; transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.service-tabs ul.et_pb_tabs_controls li.et_pb_tab_active {}
.service-tabs ul.et_pb_tabs_controls li.et_pb_tab_active a { font-style:italic; text-decoration:underline; }

.service-tabs .et_pb_all_tabs { padding:0px 15px; width:50%; }
.service-tabs .et_pb_all_tabs .et_pb_tab { padding:0px 0px; }
.service-tabs .et_pb_all_tabs .et_pb_tab .et_pb_tab_content { margin:0 auto; max-width:370px; }
.service-tabs .et_pb_all_tabs .et_pb_tab .et_pb_tab_content .small-title { font-family:'CentSchbookBTWGL4WXX-Bold'; font-size:14px; font-weight:400; font-style:italic; letter-spacing:0.30px; margin-bottom:30px; }
.service-tabs .et_pb_all_tabs .et_pb_tab .et_pb_tab_content h5 { margin-bottom:30px; }
.service-tabs .et_pb_all_tabs .et_pb_tab .et_pb_tab_content ul { line-height:1.5 !important; }
.service-tabs .et_pb_all_tabs .et_pb_tab .et_pb_tab_content ul li {}

.doctor-section {}
.doctor-section .et_pb_row {}
.doctor-section .et_pb_row .et_pb_column { display:flex; flex-wrap:wrap; padding:0px 0px; }
.doctor-section .et_pb_blurb { font-family:'CentSchbookBTWGL4WXX-Bold'; font-weight:400; padding:0px 15px; margin-bottom:80px !important; width:50%; }
.doctor-section .et_pb_blurb .et_pb_blurb_content { max-width:330px; }
.doctor-section .et_pb_blurb .et_pb_main_blurb_image { max-width:255px; }
.doctor-section .et_pb_blurb .et_pb_main_blurb_image img {}
.doctor-section .et_pb_blurb .et_pb_blurb_container {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_module_header { letter-spacing:0.6px; margin-bottom:5px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .edu { font-size:14px; margin-bottom:5px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .post { font-size:18px; font-style:italic; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .post:empty { display:none; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .desc { font-size:12px; line-height:1.4; margin-top:20px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update { font-family:'Conv_Get Show'; font-size:36px; font-weight:400; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; margin-top:20px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update a {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon { font-size:0px; background:#313133; color:#fff; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; margin-left:15px; width:26px; height:26px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon:before { font-family:etmodules; font-size:16px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon-fb {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon-fb:before { content:"\e093"; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon-tw {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon-tw:before { content:"\e094"; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon:hover { background:#F37021; color:#fff; }

.service-tabs .et_pb_all_tabs {	background:none; }
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a:hover,
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a:focus,
.et-l--header .header-menu-section .bottom-row ul.et_pb_social_media_follow li a:active { background:rgb(255, 255, 255) !important; color:#F37021; }

.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon-in:before {	content:"\e09d"; }

.support-staff-section {}
.support-staff-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .edu { display:none; }
.support-staff-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .edu:empty {}
.support-staff-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .post { font-size:14px; margin-bottom:5px; }

#et-boc {}
#et-boc .et-l--header {}
#et-boc #et-main-area { width:100%; height:calc(100vh - 132px); overflow-y:auto; position:relative; top:132px; }

#et-boc #et-main-area #main-content .et_builder_inner_content .et_pb_section {}
#et-boc #et-main-area #main-content .et_builder_inner_content .et_pb_section:first-child { margin-top:-132px; }

.img-left-section {}
.img-left-section .img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { left:30px; right:auto; }












@media only screen and (max-width:1700px) {
body.et_cover_background { background-position:top 100px left -220px, top -265px left calc(50% + 480px) !important; }

.et-l--header .header-menu-section { background-position:left -55vw top -62vw !important; background-size:270vw auto !important; }
}
@media only screen and (max-width:1366px) {
body.et_cover_background { background-position:top 70px left -15vw, top -180px right -250px !important; background-size:30vw auto, 780px auto !important; }
}
@media only screen and (max-width:1199px) {
.et-l--header .header-menu-section { background-position:left -78vw top -92vw !important; background-size:400vw auto !important; font-size:16px; }
	
.et-l--footer .et_pb_section .left-wrapper { flex-direction:column; width:auto; }
.et-l--footer ul.et_pb_social_media_follow { margin-bottom:12px !important; }

.contact-info-section .address-wrapper ul { margin-bottom:15px; }
}
@media only screen and (max-width:980px) {
h1 { font-size:65px; }
h2 { font-size:60px; }
h3 { font-size:34px; }
	
.button { font-size:60px; padding-right:75px !important; }
.button:after { width:36px; height:36px; }

.et-l--header .header-menu-section { font-size:16px; }
.et-l--header .header-menu-section .top-row { align-items:center; }
.et-l--header .header-menu-section .top-row .left-wrapper { max-width:350px; }

.et-l--header .header-menu-section .middle-row .left-wrapper { max-width:450px; }
.et-l--header .header-menu-section .middle-row .right-wrapper { max-width:320px; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a { font-size:26px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button { font-size:48px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button:after { width:32px; height:32px; }
	
.et-l--header .header-menu-section .bottom-row .left-wrapper { max-width:180px; }
.et-l--header .header-menu-section .bottom-row .middle-wrapper {}
.et-l--header .header-menu-section .bottom-row .right-wrapper { max-width:215px !important; }
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li span:first-child { padding-right:15px; min-width: 160px; }

.et-l--footer { font-size:15px;	}
.et-l--footer .time-wrapper ul li span:first-child { padding-right:15px; min-width:160px; }
.et-l--footer .et_pb_section .right-wrapper { max-width:215px !important; }

.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { width:235px; height:235px; right:15px; bottom:15px; }

.contact-info-section .et_pb_row { flex-direction:column; }
.contact-info-section .et_pb_row .et_pb_column .et_pb_module { margin:0 auto; width:390px; height:390px; }

.img-left-section .img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { left:15px; }
}
@media only screen and (min-width:768px) {
body.et_cover_background { background-attachment:fixed; }
.et-l--header { position:fixed; }
}
@media only screen and (max-width:767px) {
body { font-size:18px; }
body.et_cover_background { background-position:top 70px left -15vw, top -270px right -260px !important; background-size:30vw auto, 650px auto !important; }

h1 { font-size:54px; }
h2 { font-size:48px; }
h3 { font-size:26px; }
h4 {}
h5 { font-size:20px; }
h6 { font-size:16px; }

.button { font-size:44px; padding-right:60px !important; }
.button:after { width:32px; height:32px; }

.et-l--header .header-section .left-wrapper { flex:1; }
.et-l--header .header-section .right-wrapper .appointment-wrapper { display:none; }	
.et-l--header .header-section .right-wrapper .et_pb_toggle { display:flex; flex-wrap:wrap; justify-content:flex-end; margin-left:0px; width:35px; }

.et-l--header .header-menu-section { background-position:center center !important; background-size:600vw auto !important; flex-direction:column; flex-wrap:nowrap; }
.et-l--header .header-menu-section .top-row .left-wrapper { max-width:295px; }
.et-l--header .header-menu-section .middle-row .left-wrapper { max-width:300px; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a { font-size:24px; }
.et-l--header .header-menu-section .middle-row ul.nav > li > a:hover:before { width:15px; height:15px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button:after { width:30px; height:32px; }
.et-l--header .header-menu-section .middle-row a.et_pb_button { font-size:44px; line-height:1 !important; }
.et-l--header .header-menu-section .bottom-row { flex-wrap:wrap; }
.et-l--header .header-menu-section .bottom-row .et_pb_column {}
.et-l--header .header-menu-section .bottom-row .call-wrapper { margin-bottom:15px; }
.et-l--header .header-menu-section .bottom-row .call-wrapper a { font-size:22px; }
.et-l--header .header-menu-section .bottom-row .left-wrapper { max-width:250px !important; }
.et-l--header .header-menu-section .bottom-row .middle-wrapper { margin-right:-15px !important; }
.et-l--header .header-menu-section .bottom-row .right-wrapper { padding:0px 0px; width:100% !important; max-width:100% !important; }
	
.et-l--footer { font-size:14px; }
.et-l--footer .et_pb_section .et_pb_column { max-width:100%; }
.et-l--footer .et_pb_section .right-wrapper { max-width:100% !important; width:100% !important; }

.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { width:40vw !important; height:40vw !important; min-width:150px; min-height:150px; max-width:200px; max-height:200px; right:15px; bottom:15px; }
.img-text-wrapper .et_pb_blurb_content .et_pb_main_blurb_image img { width:100%; height:100%; min-height:300px; object-fit:cover; }

.contact-info-section .et_pb_row .et_pb_column .et_pb_module { width:81vw; max-width:390px; height:81vw; max-height:390px; }

.getin-touch-section .img-form-row { flex-direction:column; }
.getin-touch-section .img-form-row .et_pb_column { width:100%; }
.et_pb_contact form .et_pb_contact_field { margin-bottom:30px; }

.et_pb_contact form .et_contact_bottom_container button { font-size:44px; padding-right:60px !important; }
.et_pb_contact form .et_contact_bottom_container button:after { width:32px; height:32px; }

.service-tabs { flex-direction:column; }
.service-tabs ul.et_pb_tabs_controls { margin-bottom:40px; width:100%; }
.service-tabs .et_pb_all_tabs { width:100%; }

.doctor-section .et_pb_blurb { margin-bottom:40px !important; width:100%; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .edu {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .post {}
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update { font-size:32px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon { width:23px; height:24px; }
.doctor-section .et_pb_blurb .et_pb_blurb_container .et_pb_blurb_description .get-update .icon:before { font-size:14px; }
/*
.img-text-wrapper {	padding-bottom:100px; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { bottom:-100px; }
*/

#et-boc #et-main-area #main-content .et_builder_inner_content .et_pb_section:first-child { padding-top:123px; margin-top:-83px; }
	
.et-l--header .header-section .left-wrapper img { width:195px; }
.et-l--header .header-menu-section .top-row .left-wrapper {	max-width:225px; }
	
#et-boc #et-main-area { height:calc(100vh - 83px); top:83px; }
	
.img-text-wrapper {	padding-bottom:100px; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { bottom:-100px; }
}
@media only screen and (min-width:600px) {
.et-l--header .header-menu-section .middle-row { /*flex-direction:row-reverse;*/ }
.et-l--header .header-menu-section .middle-row .mobile-menu-list { display:none; }

/*.et-l--header .header-menu-section .middle-row .mobile-menu-list { display:none; }*/
}
@media only screen and (max-width:599px) {
.et-l--header .header-menu-section .top-row { min-height:72px; margin-bottom:-15px; }
	
.et-l--header .header-menu-section .middle-row { flex-direction:column-reverse; display:table; padding:40px 0px !important; }
.et-l--header .header-menu-section .middle-row .et_pb_column { padding:0px 15px !important; width:100% !important; max-width:100% !important; }
.et-l--header .header-menu-section .middle-row .et_pb_button_module_wrapper { margin-bottom:30px; }
	
.et-l--header .header-menu-section .bottom-row { flex-direction:column; display:table; }
.et-l--header .header-menu-section .bottom-row .et_pb_column { padding:0px 0px; width:100% !important; max-width:100% !important; }
.et-l--header .header-menu-section .bottom-row .et_pb_column:first-child { margin-left:0px !important; }
.et-l--header .header-menu-section .bottom-row .et_pb_column:last-child { margin-right:0px !important; }

.et-l--header .header-menu-section .top-row { display:table; }
.et-l--header .header-menu-section .top-row .left-wrapper { width:100% !important; float:left; }
.et-l--header .header-menu-section .top-row .right-wrapper { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; min-height:52px; float:right; }
.et-l--header .header-menu-section .middle-row { display:table; }
.et-l--header .header-menu-section .middle-row .desktop-menu-list { display:none; }
.et-l--header .header-menu-section .middle-row .right-wrapper { display:none; }
.et-l--header .header-menu-section .bottom-row { display:table; }
/*
.et-l--header .header-menu-section .top-row { display:table; }
.et-l--header .header-menu-section .top-row .left-wrapper { width:100% !important; float:left; }
.et-l--header .header-menu-section .top-row .right-wrapper { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; min-height:52px; float:right; }
.et-l--header .header-menu-section .middle-row { display:table; }
.et-l--header .header-menu-section .middle-row .desktop-menu-list { display:none; }
.et-l--header .header-menu-section .middle-row .right-wrapper { display:none; }
.et-l--header .header-menu-section .bottom-row { display:table; }
*/
}
@media only screen and (max-width:550px) {
.et-l--footer .et_pb_section .et_pb_column { width:100% !important; }
.et-l--footer .et_pb_section .left-wrapper { flex-direction:row; max-width:335px !important; }
.et-l--footer ul.et_pb_social_media_follow { margin-bottom:-12px !important; }
}
@media only screen and (max-width:500px) {
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header { font-size:11vw; }

.img-text-wrapper {	padding-bottom:20vw; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { bottom:-20vw; }	
/*
.img-text-wrapper {	padding-bottom:20vw; }
.img-text-wrapper .et_pb_blurb_content .et_pb_blurb_container { bottom:-20vw; }	
*/
}
@media only screen and (max-width:374px) {
.button { font-size:11vw; padding-right:50px !important; }	
.button:after { width:28px; height:28px; }

.et-l--header .header-menu-section { font-size:14px; }	
.et-l--header .header-menu-section .bottom-row .middle-wrapper {}
.et-l--header .header-menu-section .bottom-row .time-wrapper ul li span:first-child { padding-right:5px; min-width:132px; }
	
.et-l--footer {}
.et-l--footer .et_pb_section .right-wrapper {}
.et-l--footer ul.et_pb_social_media_follow { margin-bottom:-12px !important; margin-right:-10px; }
.et-l--footer .time-wrapper ul li span:first-child { padding-right:5px; min-width:132px; }

.contact-info-section .time-wrapper .et_pb_text { line-height:1.3; }
.contact-info-section .address-wrapper .et_pb_text { line-height:1.3; }
}